test/vlib/vlib.gidl
test/vlib/vlib.h
test/vlib/vlib.c
test/vlib/vlib.so
test/vlib/vlib.vapi
test/vlib/vlib.o
test/vlib/vlibrb.so
test/vlib/Makefile
test/vlib/mkmf.log
test/vlib/vlib_rb.c
test/vlib/vlib_rb.o
test/vlib/vlib_rb.so
test/nested/nested.gidl
test/nested/nested.h
test/nested/nested.c
test/nested/nested.so
test/nested/nested.vapi
test/nested/nested.o
test/nested/nestedrb.so
test/nested/Makefile
test/nested/mkmf.log
test/nested/nested_rb.c
test/nested/nested_rb.o
test/nested/nested_rb.so
test/simple/src/simple.gidl
test/simple/src/simple.h
test/simple/src/simple.c
test/simple/src/simple.so
test/simple/src/simple.vapi
test/simple/src/simple.o
test/simple/src/simplerb.so
test/simple/Makefile
test/simple/mkmf.log
test/simple/src/simple_rb.c
test/simple/src/simple_rb.o
test/simple/src/simple_rb.so
test/simple/src/semantic.cache
test/embed/embed.gidl
test/embed/embed.h
test/embed/embed.c
test/embed/embed.vapi
test/embed/embed