test/vlib/vlib.gidl
test/vlib/vlib.h
test/vlib/vlib.so
test/vlib/vlib.vapi
test/vlib/vlib.o
test/vlib/vlibrb.so
test/vlib/Makefile
test/vlib/mkmf.log
test/vlib/vlib_rb.c
test/vlib/vlib_rb.o
test/vlib/vlib_rb.so